body{
    background: url("background.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    }
table {
    border: 2px solid black;
    border-collapse: collapse;
    width: 50%;
    }

th, td {
    border: 1px solid black;
    padding: 5px;
    text-align: center;
    }
th {
    background-color: lightgray;
    }